*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.boite{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 250px auto;
    padding: 50px;
    width: 500px;
    background:rgb(91,243,213) ;
    border-radius: 50px;
}
input{
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 1.2rem;
}
li{
    cursor: pointer;
}


    